.landing-page-main{
    width: 100%;
    height: auto;
}


.landing-header-top{
    width: 100%;
    height: 5vh;
    /* background-color: yellow; */
}

.live-data-market-div-2-main {
  display: flex;
  justify-content: center;
}

.tradingview-widget-container {
  width: 60%;
  height: 50vh;
}

.tradingview-widget-container__widget {
  width: 100%;
  height: 100%;
  background-color: #262626;
}

.landing-header-top {
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.tradingview-widget-container {
  width: 100%;
  height: 100%;
}

.landing-hero-page{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    background-image: url("/src//assets/zentrivextradeheroimg.jpeg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-hero-page-wrap{
    width: 65%;
    height: 100%;
    /* background-color: green; */
}

.landing-hero-page-div-1{
    width: 100%;
    height: 40%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     animation: zoomUp 1.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes zoomUp {
    from {
        opacity: 0;
        transform: translateY(100px) scale(0.75);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.landing-hero-page-div-2{
    width: 100%;
    height: 20%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: zoomUp 1.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.landing-hero-page-div-3{
    width: 100%;
    height: 20%;
    /* background-color: purple; */
    display: flex;
    flex-direction: row;
}

.hero-statistics-div1{
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
    border-right: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    & h1{
        color: #438617;
        font-size: 50px;
    }

}


.hero-statistics-div2{
    width: 40%;
    height: 100%;
    /* background-color: blue; */
     border-right: 2px solid gray;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
    & h1{
        color: #438617;
        font-size: 50px;
    }
}


.hero-statistics-div3{
    width: 30%;
    height: 100%;
    /* background-color: green; */
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
    & h1{
        color: #438617;
        font-size: 50px;
    }
}

.landing-hero-page-div-4{
    width: 100%;
    height: 20%;
    /* background-color: maroon; */
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
}

.hero-div-start-investing{
    width: 50%;
    height: 45%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
}

.start-investing-btn{
    width: 45%;
    height: 100%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: #438617;
    color: white;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}


.view-market-btn{
    width: 45%;
    height: 100%;
     border-radius: 15px;
     border: 1px solid gray;
     cursor: pointer;
     color: white;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background: none;
}

.live-data-market-div{
    width: 100%;
    height: 100vh;
    background-color: #101828;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-data-market-div-wrap{
    width: 65%;
    height: 100%;
    /* background-color: blue; */
}

.live-data-market-div-1{
    width: 100%;
    height: 30%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

    & h1{
        font-size: 35px;
        color: white;
    }
}


.live-data-market-div-2{
    width: 100%;
    height: 70%;
    /* background-color: green; */
}

.live-data-market-div-2-main{
    width: 100%;
    height: 92%;
    /* background-color: blue; */
    /* border: 1px solid gray; */
}

.live-data-market-div-2-btm{
     width: 100%;
    height: 5%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.why-zentrivex-trade{
    width: 100%;
    height: 127vh;
    background-color: #020203;
}

.why-zentrivex-trade-div-1{
    width: 100%;
    height: 32%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-zentrivex-trade-div-1-wrap{
    width:58%;
    height: 62%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-zentrivex-trade-div-1-wrap-top{
    width: 25%;
    height: 23%;
    background-color: #438617;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
}

.why-zentrivex-trade-div-1-wrap-btm{
    width: 100%;
    height: 75%;
    /* background-color: magenta; */
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;

    & h1 {
        font-size: 40px;
        color: #438617;
    }
}

.why-zentrivex-trade-div2{
     width: 100%;
    height: 68%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-zentrivex-trade-div2-wrap{
    width: 80%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
}

.why-zentrivex-trade-div2-box-top{
    width: 100%;
    height: 50%;
    /* background-color: magenta; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.why-zentrivex-trade-div2-box-top-1{
    width: 45%;
    height: 90%;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.why-zentrivex-trade-div2-box-top-1:hover{
   border: 1px solid orangered;
}

.why-zentrivex-trade-div2-box-top-2{
    width: 45%;
    height: 90%;
    background-color: black;
     border-radius: 15px;
      display: flex;
    justify-content: center;
    align-items: center;
     border: 1px solid gray;
     cursor: pointer;
}

.why-zentrivex-trade-div2-box-top-2:hover{
    border: 1px solid #438617;
}

.why-zentrivex-trade-div2-box-top-3{
    width: 45%;
    height: 90%;
    background-color: black;
     border-radius: 15px;
      display: flex;
    justify-content: center;
    align-items: center;
     border: 1px solid gray;
     cursor: pointer;
}

.why-zentrivex-trade-div2-box-top-3:hover{
      border: 1px solid blue;
}

.why-zentrivex-trade-div2-box-btm{
    width: 100%;
    height: 50%;
    /* background-color: orangered; */
     display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.why-zentrivex-trade-div2-box-top-1-wrap{
    width: 85%;
    height: 85%;
    /* background-color: yellow; */
}

.why-zentrivex-trade-div2-box-top-1-text1{
    width: 100%;
    height: 40%;
    /* background-color: magenta; */
}

.why-zentrivex-trade-div2-box-top-1-text1-image-div{
    width: 30%;
    height: 100%;
    color: white;

    & img {
        width: 100%;
        height: 100%;
    }
}

.why-zentrivex-trade-div2-box-top-1-text2{
    width: 100%;
    height: 60%;
    /* background-color: orangered; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    & h1 {
        font-size: 17px;
        color: white;
    }
}

.trusted-by-investors-div{
    width: 100%;
    height: 140vh;
    background-color: #111827;
}

.trusted-by-investors-div-1{
    width: 100%;
    height: 25%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.trusted-by-investors-div-1-inner{
    width: 40%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

    & h1 {
        font-size: 35px;
        color: white;
    }
}

.trusted-by-investors-div-2{
    width: 100%;
    height: 35%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.trusted-by-investors-div-2-inner{
    width: 68%;
    height: 100%;
    background-color: #1f2937;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trusted-by-investors-div-2-inner-wrap{
    width: 90%;
    height: 85%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}


.trusted-by-investors-div-2-inner-wrap-1{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
}

.trusted-by-investors-div-2-inner-wrap-rating-div{
    width: 80%;
    height: 100%;
    /* background-color: red; */
}

.trusted-by-investors-div-2-inner-wrap-rating-div-top1{
    width: 100%;
    height: 50%;
    /* background-color: magenta; */
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    gap: 10px;
    position: relative;
    /* font-size: 5px; */

    & h1{
        font-size: 50px;
        color: white;
    }

    & P {
        color: gray;
    }
}

.rating-icon{
    position: absolute;
    bottom: 60px;
    font-size: 30px;
    color: yellow;
}

.trusted-by-investors-div-2-inner-wrap-rating-div-btm{
    width: 100%;
    height: 50%;
    /* background-color: maroon; */
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trusted-div-number-rating{
    color: yellow;
}

.trusted-by-investors-div-2-inner-wrap-rating-number-div{
    width: 20%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: end;
     gap: 6px;
     font-weight: 600;
     color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.trusted-by-investors-div-2-inner-wrap-2{
    width: 50%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
}

.trusted-by-investors-div-2-inner-wrap-2-active-users{
    width: 50%;
    height: 100%;
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 7px;
}

.trusted-by-investors-div-2-inner-wrap-2-asset-managed{
    width: 50%;
    height: 100%;
    /* background-color: brown; */
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 7px;
}

.trusted-by-investors-div-3{
    width: 100%;
    height: 40%;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.trusted-by-investors-div-3-inner{
    width: 33%;
    height: 70%;
     background-color: #1f2937;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.testimonial-animate{
    animation: zoomUp .6s ease;
}

@keyframes zoomUp{
    0%{
        opacity: 0;
        transform: translateY(35px) scale(.85);
    }

    60%{
        opacity: 1;
        transform: translateY(-8px) scale(1.05);
    }

    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.trusted-by-investors-div-3-inner-wrap{
    width: 80%;
    height: 80%;
    /* background-color: green; */
}

.trusted-by-investors-div-3-inner-wrap-div1{
    width: 100%;
    height: 20%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
}

.trusted-by-investors-div-3-inner-wrap-div2{
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.trusted-by-investors-div-3-inner-wrap-div3{
    width: 100%;
    height: 30%;
    /* background-color: orangered; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: row;
    /* background-color: magenta; */
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-image-div{
    width: 25%;
    height: 100%;
    /* background-color: yellow; */
    border-radius: 35px;

    & img {
        width: 100%;
        height: 100%;
         border-radius: 35px;
    }
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-name-div{
    width: 75%;
    height: 100%;
    /* background-color: purple; */
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-name-div-top1{
    width: 100%;
    height: 50%;
    /* background-color: green; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 15px;
}


.trusted-by-investors-div-3-inner-wrap-div3-inner-main-name-div-top2{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    color: gray;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-left: 15px;
}

/* ===========================================
   RESPONSIVE DESIGN
=========================================== */

/* ---------------------- Tablets ---------------------- */
@media screen and (max-width: 1024px) {

    .landing-hero-page-wrap,
    .live-data-market-div-wrap{
        width:90%;
    }

    .why-zentrivex-trade-div-1-wrap{
        width:80%;
    }

    .trusted-by-investors-div-1-inner{
        width:70%;
    }

    .trusted-by-investors-div-2-inner{
        width:90%;
    }

    .trusted-by-investors-div-3-inner{
        width:70%;
    }

    .hero-div-start-investing{
        width:70%;
    }

    .why-zentrivex-trade-div2-wrap{
        width:95%;
    }

    .tradingview-widget-container{
        width:100% !important;
    }

}


/* ---------------------- Mobile ---------------------- */
@media screen and (max-width:768px){

.landing-hero-page{
    height:auto;
    padding:70px 0;
}

.landing-hero-page-wrap{
    width:92%;
}

.landing-hero-page-div-1{
    height:auto;
    text-align:center;
}

.landing-hero-page-div-1 h1{
    font-size:38px !important;
}

.landing-hero-page-div-2{
    height:auto;
    text-align:center;
    margin-top:20px;
}

.landing-hero-page-div-2 p{
    font-size:17px;
}

.landing-hero-page-div-3{
    flex-direction:column;
    gap:30px;
    margin-top:40px;
}

.hero-statistics-div1,
.hero-statistics-div2,
.hero-statistics-div3{
    width:100%;
    border-right:none;
    border-bottom:1px solid gray;
    padding:20px 0;
}

.hero-statistics-div3{
    border-bottom:none;
}

.hero-statistics-div1 h1,
.hero-statistics-div2 h1,
.hero-statistics-div3 h1{
    font-size:38px !important;
}

.landing-hero-page-div-4{
    height:auto;
    margin-top:30px;
}

.hero-div-start-investing{
    width:100%;
    flex-direction:column;
    gap:15px;
}

.start-investing-btn,
.view-market-btn{
    width:100%;
    height:55px;
}


/* Live Market */

.live-data-market-div{
    height:auto;
    padding:70px 0;
}

.live-data-market-div-wrap{
    width:94%;
}

.live-data-market-div-1{
    height:auto;
    text-align:center;
}

.live-data-market-div-1 h1{
    font-size:30px;
}

.live-data-market-div-1 p{
    font-size:16px !important;
}

.live-data-market-div-2{
    height:auto;
}

.live-data-market-div-2-main{
    height:auto;
}

.live-data-market-div .tradingview-widget-container{
    width:100% !important;
    height:400px !important;
}

/* Why Section */

.why-zentrivex-trade{
    height:auto;
    padding:70px 0;
}

.why-zentrivex-trade-div-1{
    height:auto;
}

.why-zentrivex-trade-div-1-wrap{
    width:95%;
}

.why-zentrivex-trade-div-1-wrap-top{
    width:220px;
    height:50px;
}

.why-zentrivex-trade-div-1-wrap-btm{
    text-align:center;
}

.why-zentrivex-trade-div-1-wrap-btm h1{
    font-size:30px !important;
}

.why-zentrivex-trade-div2{
    height:auto;
    margin-top:40px;
}

.why-zentrivex-trade-div2-wrap{
    width:95%;
}

.why-zentrivex-trade-div2-box-top,
.why-zentrivex-trade-div2-box-btm{
    flex-direction:column;
    height:auto;
}

.why-zentrivex-trade-div2-box-top-1,
.why-zentrivex-trade-div2-box-top-2,
.why-zentrivex-trade-div2-box-top-3{
    width:100%;
    min-height:250px;
}


/* Trusted */

.trusted-by-investors-div{
    height:auto;
    padding:70px 0;
}

.trusted-by-investors-div-1{
    height:auto;
}

.trusted-by-investors-div-1-inner{
    width:95%;
    text-align:center;
}

.trusted-by-investors-div-1-inner h1{
    font-size:30px !important;
}

.trusted-by-investors-div-2{
    height:auto;
    margin-top:40px;
}

.trusted-by-investors-div-2-inner{
    width:95%;
    padding:30px 0;
}

.trusted-by-investors-div-2-inner-wrap{
    flex-direction:column;
    gap:40px;
}

.trusted-by-investors-div-2-inner-wrap-1,
.trusted-by-investors-div-2-inner-wrap-2{
    width:100%;
}

.trusted-by-investors-div-2-inner-wrap-2{
    flex-direction:column;
    gap:30px;
}

.trusted-by-investors-div-2-inner-wrap-2-active-users,
.trusted-by-investors-div-2-inner-wrap-2-asset-managed{
    width:100%;
}

.dingviewtra-widget-container{
    width: 90%;
}

}

/* =======================
   TABLETS & MOBILE
======================= */
@media screen and (max-width:768px){

.trusted-by-investors-div-3{
    height:auto;
    margin-top:40px;
    padding:0 20px;
}

.trusted-by-investors-div-3-inner{
    width:100%;
    min-height:340px;
    padding:20px;
}

.trusted-by-investors-div-3-inner-wrap{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:25px;
}

.trusted-by-investors-div-3-inner-wrap-div1{
    height:auto;
}

.trusted-by-investors-div-3-inner-wrap-div2{
    height:auto;
    line-height:30px;
    font-size:17px;
    padding:10px 0;
}

.trusted-by-investors-div-3-inner-wrap-div3{
    height:auto;
    justify-content:flex-start;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:15px;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-image-div{
    width:65px;
    height:65px;
    flex-shrink:0;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-image-div img{
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit:cover;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-name-div{
    width:auto;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-name-div-top1,
.trusted-by-investors-div-3-inner-wrap-div3-inner-main-name-div-top2{
    padding-left:0;
    height:auto;
}


.dingviewtra-widget-container{
    width: 90%;
}
}


/* ---------------------- Small Phones ---------------------- */

@media screen and (max-width:480px){

.landing-hero-page-div-1 h1{
    font-size:30px !important;
}

.hero-statistics-div1 h1,
.hero-statistics-div2 h1,
.hero-statistics-div3 h1{
    font-size:30px !important;
}

.live-data-market-div-1 h1,
.why-zentrivex-trade-div-1-wrap-btm h1,
.trusted-by-investors-div-1-inner h1{
    font-size:25px !important;
}

.live-data-market-div .tradingview-widget-container{
    height:320px !important;
}

.start-investing-btn,
.view-market-btn{
    font-size:18px;
}

.dingviewtra-widget-container{
    width: 90%;
}

}

@media screen and (max-width:480px){

.trusted-by-investors-div-3{
    padding:0 15px;
}

.trusted-by-investors-div-3-inner{
    width:100%;
    min-height:360px;
    padding:18px;
}

.trusted-by-investors-div-3-inner-wrap{
    width:100%;
    gap:22px;
}

.trusted-by-investors-div-3-inner-wrap-div2{
    font-size:16px;
    line-height:28px;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:12px;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-image-div{
    width:55px;
    height:55px;
    flex-shrink:0;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-image-div img{
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit:cover;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-name-div{
    width:auto;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-name-div-top1{
    font-size:16px;
    padding-left:0;
}

.trusted-by-investors-div-3-inner-wrap-div3-inner-main-name-div-top2{
    font-size:13px;
    padding-left:0;
}

.dingviewtra-widget-container{
    width: 90%;
}

}